.HeroButtons_buttonBase__cGDGR {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
  margin-right: 12px;
}
.HeroButtons_primary__sDdf6 {
  background-color: var(--mustard-yellow);
  color: #000;
  animation: HeroButtons_bounce__tKrko 2s infinite;
  box-shadow: 0 4px 6px rgba(12, 45, 81, 0.2);
  border: 3px solid var(--mustard-yellow);
}
.HeroButtons_primary__sDdf6:hover {
  box-shadow: 0 6px 8px rgba(12, 45, 81, 0.3);
}
.HeroButtons_secondary__XKLDX {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.HeroButtons_secondary__XKLDX:hover {
  background-color: rgba(232, 158, 38, 0.1);
  transform: translateY(-2px);
}
@keyframes HeroButtons_bounce__tKrko {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
@media (max-width: 768px) {
  .HeroButtons_buttonBase__cGDGR {
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 8px;
  }
  .HeroButtons_primary__sDdf6 {
    box-shadow: 0 3px 5px rgba(12, 45, 81, 0.2);
  }
  .HeroButtons_primary__sDdf6:hover {
    box-shadow: 0 5px 7px rgba(12, 45, 81, 0.3);
  }
  .HeroButtons_secondary__XKLDX {
    border-width: 1.5px;
  }
  .HeroButtons_secondary__XKLDX:hover {
    transform: none;
  }
}
@media (max-width: 480px) {
  .HeroButtons_buttonBase__cGDGR {
    padding: 6px 12px;
    font-size: 13px;
    margin-right: 6px;
  }
  .HeroButtons_primary__sDdf6 {
    box-shadow: 0 2px 4px rgba(12, 45, 81, 0.2);
  }
  .HeroButtons_primary__sDdf6:hover {
    box-shadow: 0 3px 5px rgba(12, 45, 81, 0.3);
  }
  .HeroButtons_secondary__XKLDX {
    border-width: 1px;
  }
}
.CourseFaqAccordion_faq_accordion__UfRag {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
  margin-top: 25px;
}
.CourseFaqAccordion_faq_section__f95iw {
  margin-bottom: 8px;
}
.CourseFaqAccordion_faq_section_input___0D1u {
  display: none;
}
.CourseFaqAccordion_faq_section_label__Gy2lP {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px !important;
}
.CourseFaqAccordion_faq_section_input___0D1u:checked
  + .CourseFaqAccordion_section_label__Jpu8c {
  font-size: 18px !important;
}
.CourseFaqAccordion_faq_symbol__t00Lf:after {
  content: "+";
  font-size: 20px;
  margin-left: 10px;
}
.CourseFaqAccordion_faq_section_input___0D1u:checked
  + .CourseFaqAccordion_faq_section_label__Gy2lP
  .CourseFaqAccordion_faq_symbol__t00Lf:after {
  content: "x";
  font-size: 18px;
}
.CourseFaqAccordion_faq_section_content__sJuZj {
  display: none;
}
.CourseFaqAccordion_faq_section_input___0D1u:checked
  + .CourseFaqAccordion_faq_section_label__Gy2lP
  + .CourseFaqAccordion_faq_section_content__sJuZj {
  display: block;
  font-size: 16px;
  color: var(--text-txt-secondary, rgba(60, 60, 67, 0.85));
  margin-top: 15px;
}
.CourseFaqAccordion_faq_section_input___0D1u:not(:checked)
  + .CourseFaqAccordion_faq_section_label__Gy2lP
  + .CourseFaqAccordion_faq_section_content__sJuZj {
  display: none;
}
.CourseFaqAccordion_faq_section_input___0D1u:not(:checked)
  + .CourseFaqAccordion_faq_section_label__Gy2lP {
  font-size: 18px !important;
}
.CourseFaqAccordion_course_faq_question__ZUh8K {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .CourseFaqAccordion_course_faq_question__ZUh8K {
    font-size: 16px;
  }
}
.newcourse_courseHeading__2YhlO {
  font-size: 32px;
  margin: 50px 0 20px;
  line-height: 120%;
  color: var(--dark-blue);
}
.newcourse_container__Wi5F5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 40px 0;
}
.newcourse_course_slide_single_box__tVswg {
  border-radius: 10px;
  transform: translateZ(10px);
  position: relative;
  top: 0;
  transition: top 0.5s ease;
  width: 100%;
  min-width: 220px;
  max-width: 370px;
  color: var(--black);
  max-height: 220px;
  border: 1px solid var(--dark-blue);
}
.newcourse_course_slide_single_box__tVswg:hover {
  cursor: pointer;
  top: -10px;
}
.newcourse_college_name__kksG_ {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  font-size: 14px;
}
.newcourse_slider_top_row__dl37e {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: var(--white);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  max-width: 300px;
}
.newcourse_course_slide_college_icon__3LnjV {
  height: 50px;
  width: 50px;
}
.newcourse_slider_top_row_col_two__cLV4d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.newcourse_course_college_rating_container__khWLW {
  background: #ffffde;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.newcourse_slider_bottom_row__WJjc4 {
  background-color: #d6e7f8;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 1400px) {
  .newcourse_container__Wi5F5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .newcourse_container__Wi5F5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .newcourse_slider_top_row__dl37e {
    gap: 10px;
    padding: 10px;
  }
  .newcourse_courseHeading__2YhlO {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .newcourse_container__Wi5F5 {
    grid-template-columns: repeat(1, 1fr);
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .newcourse_course_slide_single_box__tVswg {
    min-width: 260px;
    max-width: 280px;
  }
  .newcourse_slider_top_row__dl37e {
    gap: 10px;
  }
  .newcourse_slider_top_row_col_two__cLV4d {
    gap: 5px;
  }
  .newcourse_slider_bottom_row__WJjc4 {
    padding: 5px;
  }
}
