.CourseHero_course_banner__lk16C {
    width: 100%;
    height: auto
}

.CourseHero_courseCarousalOne__Sb3_f {
    position: relative;
    box-sizing: border-box;
    margin-bottom: -4px!important
}

.CourseHero_gradientOverlayStyle__iGFOK {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#000 9.48%,rgba(0,0,0,.61) 40.91%,transparent 82.99%)
}

.CourseHero_courseHeadingContainer__nbBmj {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    padding-left: 8%;
    transform: translate(-50%,-50%)
}

.CourseHero_courseHeading___dgJj {
    text-shadow: 5px 5px 5px #000;
    font-size: 3vw;
    color: var(--white);
    margin-bottom: 10px
}

.CourseHero_courseSubHeading__8DEDx {
    text-shadow: 5px 5px 5px #000;
    font-size: 18px;
    color: var(--white)
}

@media screen and (max-width: 1024px) {
    .CourseHero_courseHeading___dgJj {
        font-size:28px
    }

    .CourseHero_courseSubHeading__8DEDx {
        font-size: 16px
    }
}

@media screen and (max-width: 768px) {
    .CourseHero_courseHeading___dgJj {
        font-size:26px
    }

    .CourseHero_courseSubHeading__8DEDx {
        font-size: 14px
    }

    .CourseHero_course_banner__lk16C {
        height: 19rem;
        -o-object-fit: cover;
        object-fit: cover
    }

    .CourseHero_courseHeadingContainer__nbBmj {
        width: 80%;
        left: 40%;
        margin-left: 0;
        padding-left: 4%
    }

    .CourseHero_courseSubHeading__8DEDx {
        text-shadow: 20px 20px 20px #000!important
    }
}
