.collegeDetails_selectedBox___Y1P_ {
    background-color: var(--dark-blue)
}

.collegeDetails_maxWidth__6vBVL {
    width: 100%
}

.collegeDetails_textWhite__q6ndV {
    color: #fff
}

.collegeDetails_textBlack__LRxI5 {
    color: #000
}

.collegeDetails_detailsPage__0qlWI {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.8rem
}

.collegeDetails_scroller__kwBjm {
    max-height: 780px;
    height: 780px;
    display: flex;
    min-width: 22%;
    width: 25%;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0 0 4px 0 #cee0ef;
    border-bottom: 5px solid var(--dark-blue);
    position: sticky;
    top: 0;
    overflow-y: auto;
    z-index: 2
}

.collegeDetails_scroller__kwBjm::-webkit-scrollbar {
    display: none
}

.collegeDetails_scrollerElement__iuUFa {
    text-decoration: none
}

.collegeDetails_sectionBox__ZGGBm {
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
    padding: 16px 10px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer
}

.collegeDetails_sectionBox__ZGGBm:hover {
    background-color: var(--dark-blue);
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
    color: var(--white)
}

.collegeDetails_detailsContainer__6A8oL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 76%;
    width: 76%;
    color: var(--black)
}

@media screen and (max-width: 1440px) {
    .collegeDetails_scroller__kwBjm {
        height:620px
    }
}

@media screen and (max-width: 1024px) {
    .collegeDetails_detailsPage__0qlWI {
        flex-direction:column;
        align-items: center
    }

    .collegeDetails_scroller__kwBjm {
        height: auto;
        min-width: 100%;
        width: 100%;
        flex-direction: row;
        overflow: hidden;
        overflow-x: auto;
        gap: 5px;
        padding: 10px;
        border-radius: 5px 5px 10px 10px
    }

    .collegeDetails_sectionBox__ZGGBm {
        padding: 10px;
        font-size: 16px;
        width: -moz-max-content;
        width: max-content;
        margin-bottom: 0
    }

    .collegeDetails_detailsContainer__6A8oL {
        max-width: 100%;
        width: 100%
    }
}

@media screen and (max-width: 480px) {
    .collegeDetails_sectionBox__ZGGBm {
        padding:8px;
        font-size: 14px
    }

    .collegeDetails_scroller__kwBjm {
        padding: 8px
    }
}

.collegenquiry_collegeform__wTRAT {
    max-width: 100%
}

.collegenquiry_formcontainer__Cyi0q {
    margin: 40px 0 20px;
    padding: 30px 20px;
    border-bottom: 5px solid var(--mustard-yellow);
    border-top: 5px solid var(--mustard-yellow);
    background-color: var(--lighter-mustard-bg)
}

.collegenquiry_formcontainer__Cyi0q,.collegenquiry_formsubhead__nFqYe {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)
}

.collegenquiry_formsubhead__nFqYe {
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 8px 10px;
    font-weight: 300;
    background-color: var(--mustard-yellow);
    width: -moz-fit-content;
    width: fit-content;
    color: var(--dark-blue);
    animation: collegenquiry_attention__w7CN0 2s ease-in-out infinite
}

@keyframes collegenquiry_attention__w7CN0 {
    0% {
        transform: translateY(0)
    }

    5% {
        transform: translateY(-8px)
    }

    10% {
        transform: translateY(0)
    }

    15% {
        transform: translateY(-4px)
    }

    20% {
        transform: translateY(0)
    }

    to {
        transform: translateY(0)
    }
}

.collegenquiry_form_div__RSaaQ {
    text-align: center;
    display: flex
}

.collegenquiry_form_heading__GszFG {
    font-size: 32px;
    margin: 20px 0;
    color: var(--dark-blue)
}

.collegenquiry_form__uF7mS {
    width: 100%
}

.collegenquiry_form__uF7mS>input,.collegenquiry_form__uF7mS>select {
    width: 30%;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 8px;
    border: .5px solid var(--dark-blue);
    background: var(--white);
    color: gray;
    height: 40px
}

.collegenquiry_form__uF7mS>input:focus {
    outline: none
}

.collegenquiry_submit_btn__cjBuo {
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    background: var(--dark-blue);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 5px
}

.collegenquiry_submit_btn__cjBuo:hover {
    background: var(--mustard-yellow);
    color: var(--dark-blue)
}

@keyframes collegenquiry_button-loading-spinner__M_sVZ {
    0% {
        transform: rotate(0turn)
    }

    to {
        transform: rotate(1turn)
    }
}

@media screen and (max-width: 1024px) {
    .collegenquiry_form_heading__GszFG {
        font-size:28px
    }
}

@media screen and (max-width: 768px) {
    .collegenquiry_form_heading__GszFG {
        font-size:24px;
        margin-bottom: 10px
    }

    .collegenquiry_form__uF7mS>input,.collegenquiry_form__uF7mS>select,.collegenquiry_submit_btn__cjBuo {
        width: 45%
    }
}

@media screen and (max-width: 480px) {
    .collegenquiry_form__uF7mS>input,.collegenquiry_form__uF7mS>select,.collegenquiry_form_div__RSaaQ,.collegenquiry_submit_btn__cjBuo {
        width:100%
    }

    .collegenquiry_form_heading__GszFG {
        font-size: 22px;
        margin: 20px 0 10px
    }
}

.CollegeReview_college_page_details_review_container__KbbIU {
    color: var(--black);
    margin-top: 60px;
    font-style: normal;
    line-height: 120%
}

.CollegeReview_college_page_details_review_heading__7gRVc {
    font-size: 34px;
    font-weight: 700;
    line-height: 120%
}

.CollegeReview_college_page_details_review_form_container__rP5km {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600
}

.CollegeReview_college_page_details_review_form_rating_count_img_container__SDJGd {
    display: flex;
    gap: 20px;
    align-items: center
}

.CollegeReview_college_page_details_review_form_rating_count__oLqL0 {
    font-size: 16px;
    font-weight: 400;
    line-height: 300%
}

.CollegeReview_college_page_details_review_form_rating_img__h_Yj7 {
    height: 25px;
    width: 25px;
    margin-right: 10px
}

.CollegeReview_reviewer_name__Fdlnr {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px
}

.CollegeReview_college_page_details_review_form_input__niDf2 {
    width: 100%;
    height: 150px;
    padding: 10px;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border-radius: 5px;
    margin-top: 10px
}

.CollegeReview_college_page_details_review_form_input__niDf2::-moz-placeholder,.CollegeReview_reviewer_name__Fdlnr::-moz-placeholder {
    font-size: 14px;
    font-family: Verdana,Geneva,Tahoma,sans-serif
}

.CollegeReview_college_page_details_review_form_input__niDf2::placeholder,.CollegeReview_reviewer_name__Fdlnr::placeholder {
    font-size: 14px;
    font-family: Verdana,Geneva,Tahoma,sans-serif
}

.CollegeReview_rating_form_container__q_Xvp {
    max-width: 100%
}

.CollegeReview_college_page_details_review_form_btn__xh_Sn {
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    background: var(--dark-blue);
    font-weight: 500;
    border: none;
    font-size: 16px;
    color: var(--white)
}

.CollegeReview_college_page_details_review_form_btn__xh_Sn:hover {
    cursor: pointer
}

.CollegeReview_college_page_details_verified_review_container__m7rGG {
    margin-top: 50px
}

.CollegeReview_college_page_details_verified_review_name_rating_container__xI4ll {
    display: flex;
    gap: 15px;
    align-items: center
}

.CollegeReview_college_page_details_verified_reviewer_sort_name__o8ghJ {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    background: var(--bulish);
    padding: 12px 16px;
    border-radius: 100%;
    text-transform: capitalize
}

.CollegeReview_college_page_details_review_container_box__t9yW9 {
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border: .2px dotted #e89e26
}

.CollegeReview_college_page_details_verified_reviewer_name__EtV8N {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize
}

.CollegeReview_college_page_details_rating_img__IUdrQ {
    height: 18px;
    width: 18px;
    margin: 2px
}

.CollegeReview_college_page_details_verified_review_img_container__YJFHn {
    margin-top: 5px
}

.CollegeReview_college_page_details_reviewer_location_date__LoHUc {
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0
}

.CollegeReview_college_page_details_verified_review_verified__a1Fl3 {
    color: #3eba13;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px
}

.CollegeReview_college_page_details_verified_review_not_verified__6igdW {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px
}

.CollegeReview_college_page_details_verified_review_comment__ec5gu {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%
}

@media screen and (max-width: 768px) {
    .CollegeReview_college_page_details_review_container__KbbIU {
        margin-top:40px
    }

    .CollegeReview_college_page_details_review_form_input__niDf2 {
        padding: 10px
    }

    .CollegeReview_college_page_details_review_heading__7gRVc {
        font-size: 24px;
        line-height: 100%
    }

    .CollegeReview_rating_form_container__q_Xvp {
        max-width: 90%
    }

    .CollegeReview_college_page_details_review_form_container__rP5km {
        font-size: 20px
    }

    .CollegeReview_college_page_details_reviewer_location_date__LoHUc {
        font-size: 12px
    }

    .CollegeReview_college_page_details_verified_reviewer_sort_name__o8ghJ {
        font-size: 22px;
        padding: 16px 20px
    }

    .CollegeReview_college_page_details_verified_reviewer_name__EtV8N {
        font-size: 18px
    }

    .CollegeReview_college_page_details_verified_review_comment__ec5gu {
        font-size: 16px
    }

    .CollegeReview_college_page_details_verified_review_not_verified__6igdW,.CollegeReview_college_page_details_verified_review_verified__a1Fl3 {
        font-size: 16px;
        margin-top: 0
    }
}

@media screen and (max-width: 480px) {
    .CollegeReview_college_page_details_review_form_container__rP5km {
        margin-top:0
    }

    .CollegeReview_college_page_details_review_container__KbbIU {
        margin-top: 30px
    }

    .CollegeReview_reviewer_name__Fdlnr {
        width: 90%;
        height: 40px
    }

    .CollegeReview_college_page_details_review_form_btn__xh_Sn {
        margin-top: 10px!important;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px
    }

    .CollegeReview_college_page_details_verified_review_not_verified__6igdW {
        font-size: 12px;
        font-weight: 600;
        margin-top: 5px 0 5px!important
    }

    .CollegeReview_college_page_details_review_form_input__niDf2 {
        width: 90%;
        height: 120px
    }

    .CollegeReview_college_page_details_review_heading__7gRVc {
        font-size: 22px;
        line-height: 120%
    }

    .CollegeReview_rating_form_container__q_Xvp {
        max-width: 100%
    }

    .CollegeReview_college_page_details_review_form_rating_count_img_container__SDJGd {
        display: flex;
        gap: 15px;
        align-items: center
    }

    .CollegeReview_college_page_details_review_form_rating_count__oLqL0 {
        font-size: 16px
    }

    .CollegeReview_college_page_details_review_form_rating_img__h_Yj7 {
        height: 18px;
        width: 18px;
        margin-right: 5px
    }

    .CollegeReview_college_page_details_verified_reviewer_sort_name__o8ghJ {
        font-size: 22px;
        padding: 10px 15px
    }

    .CollegeReview_college_page_details_verified_review_comment__ec5gu {
        font-size: 14px;
        margin-top: 10px
    }
}

.courses_wrapper__5pXR3 {
    display: flex;
    margin-bottom: 60px
}

.courses_container__c_BRe {
    width: 100%;
    display: inherit;
    flex-direction: column
}

.courses_heading__nCyjm {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px
}

.courses_course_college_name__Reg2z {
    font-size: 16px;
    line-height: 140%
}

.courses_courseHeading__7bp3d {
    font-size: 34px;
    background-color: var(--mustard-yellow);
    padding: 20px;
    color: #fff;
    font-weight: 500;
    line-height: normal
}

.courses_courseBox__PTT_J {
    border: 1px solid var(--mustard-yellow);
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border-collapse: collapse
}

.courses_table_container__5_0yS {
    border-collapse: collapse
}

.courses_modal_overlay__Zv0_v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 400
}

.courses_modal__n_T9z {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    position: relative;
    width: 50%;
    max-width: 95%;
    height: 400px;
    overflow: auto;
    display: flex;
    justify-content: center
}

.courses_modal__n_T9z::-webkit-scrollbar {
    width: 10px
}

.courses_modal__n_T9z::-webkit-scrollbar-track {
    border-radius: 5px
}

.courses_modal__n_T9z::-webkit-scrollbar-thumb {
    background-color: var(--mustard-yellow);
    border-radius: 14px
}

.courses_close_button__hWlW0 {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: var(--white);
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700
}

.courses_join_popup__uPuJD {
    width: 90%
}

.courses_course_table__llAtE {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid var(--dark-blue);
    margin-top: 20px
}

.courses_course_head__M4Cun>th:first-child,.courses_course_head__M4Cun>th:nth-child(2) {
    width: 25%;
    color: var(--white);
    padding: 10px;
    font-size: 16px
}

.courses_course_head__M4Cun>th:nth-child(3) {
    width: 50%
}

.courses_tbody__ZPCxV>td {
    border: 1px solid var(--dark-blue);
    padding: 12px;
    font-size: 16px;
    border-collapse: collapse
}

.courses_tbody__ZPCxV>td:first-child {
    font-weight: 600
}

.courses_courseLink__FAoj3 {
    cursor: pointer;
    text-decoration: none;
    color: #000
}

.courses_courseLink__FAoj3:hover {
    color: var(--mustard-yellow)
}

.courses_specilaization_modal__MFNNY>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px
}

.courses_specilaization_modal__MFNNY:hover {
    color: blue
}

.courses_eligible_tbody__TZEpd>td {
    border: 1px solid var(--dark-blue);
    padding: 10px;
    font-size: 16px
}

.courses_eligible_table__lIeAh {
    border-collapse: collapse;
    text-align: left;
    border: 1px solid var(--dark-blue);
    width: 100%;
    margin-top: 10px
}

.courses_eligible_table__lIeAh>thead {
    background: var(--dark-blue)
}

.courses_eligible_head__OXaWd>th {
    color: var(--white);
    padding: 10px;
    font-size: 16px
}

.courses_eligible_head__OXaWd>th:first-child {
    width: 65%
}

.courses_viewSpsl__lrjH5 {
    background-color: var(--dark-blue);
    padding: 8px 10px;
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer
}

.courses_viewSpsl__lrjH5:hover {
    background-color: #014487
}

.courses_enqnow__8Vb3P {
    background-color: var(--mustard-yellow);
    padding: 8px 10px;
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--dark-blue);
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin: 5px 10px;
    cursor: pointer
}

.courses_enqnow__8Vb3P:hover {
    background-color: #e89e26
}

.courses_specilaization_modal__MFNNY {
    cursor: pointer;
    display: flex;
    justify-content: space-around
}

@media screen and (max-width: 1024px) {
    .courses_heading__nCyjm {
        font-size:28px
    }
}

@media screen and (max-width: 768px) {
    .courses_heading__nCyjm {
        font-size:24px
    }

    .courses_course_college_name__Reg2z,.courses_eligible_head__OXaWd>th,.courses_eligible_tbody__TZEpd>td,.courses_tbody__ZPCxV>td {
        font-size: 14px
    }

    .courses_modal__n_T9z {
        width: 90%
    }

    .courses_close_button__hWlW0 {
        right: 5px
    }
}

@media screen and (max-width: 600px) {
    .courses_group_btn__asc8c {
        display:block;
        text-align: center;
        margin: 5px 0;
        width: 100%
    }

    .courses_enqnow__8Vb3P,.courses_viewSpsl__lrjH5 {
        width: 80%
    }
}

@media screen and (max-width: 480px) {
    .courses_heading__nCyjm {
        font-size:22px;
        margin: 0 0 10px
    }

    .courses_courseHeading__7bp3d {
        padding: 10px
    }

    .courses_courseBox__PTT_J {
        padding: 5px
    }

    .courses_enqnow__8Vb3P,.courses_viewSpsl__lrjH5 {
        font-size: 10px
    }
}

@media screen and (max-width: 380px) {
    .courses_viewSpsl__lrjH5 {
        text-overflow:ellipsis;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%
    }

    .courses_enqnow__8Vb3P {
        margin: 5px 0;
        width: 100%
    }
}

@media screen and (max-width: 350px) {
    .courses_course_head__M4Cun>th:first-child,.courses_course_head__M4Cun>th:nth-child(2) {
        font-size:12px
    }

    .courses_tbody__ZPCxV>td {
        text-overflow: ellipsis;
        font-size: 10px;
        text-align: justify
    }

    .courses_eligible_tbody__TZEpd>td {
        font-size: 10px
    }
}
