.ContactForm_customContainer__eJkSW {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.ContactForm_inputContainer__RYPd6 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.ContactForm_floatingLabelGroup__dFm3T {
  flex: 1;
  position: relative;
  margin-bottom: 0.625vw;
}
.ContactForm_floatingLabel__3U7u_ {
  font-size: 0.9375vw;
  color: #ccc;
  position: absolute;
  pointer-events: none;
  top: 1.3625vw;
  left: 0.625vw;
  transition: all 0.3s ease;
  max-width: calc(100% - 1.25vw);
}
.ContactForm_formControl__pQmc8 {
  border: 1px solid #ccc;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0.9375vw 5px 5px 10px;
  height: 3.85vw;
  font-size: 0.9375vw;
  border-radius: 0.52vw;
  transition: border-color 0.2s ease;
}
.ContactForm_formControl__pQmc8:focus ~ .ContactForm_floatingLabel__3U7u_,
.ContactForm_formControl__pQmc8:not(:focus):valid
  ~ .ContactForm_floatingLabel__3U7u_,
.ContactForm_textareaStyle__3qWau:focus ~ .ContactForm_floatingLabel__3U7u_,
.ContactForm_textareaStyle__3qWau:not(:focus):valid
  ~ .ContactForm_floatingLabel__3U7u_ {
  top: 5px;
  height: auto;
  padding-left: 5px;
  margin-left: 8px;
  left: 0;
  font-size: 0.833vw;
  opacity: 1;
  color: #0c2d50;
}
.ContactForm_textareaStyle__3qWau {
  border: 1px solid #ccc;
  outline: none;
  background: transparent;
  line-height: 150%;
  font-size: 1.041vw;
  width: 100%;
  padding: 30px 30px 30px 10px;
  transition: border-color 0.2s ease;
  border-radius: 10px;
  height: 11.041vw;
}
.ContactForm_contact_submit_button__BXr3g {
  border-radius: 1.041vw;
  font-size: 1.041vw;
  border: 1px solid #ccc;
  background: #e89e26;
  width: 100%;
  line-height: 120%;
  padding: 1.4583vw 0;
}
.ContactForm_contact_submit_button__BXr3g:hover {
  cursor: pointer;
  background: #e89e26;
}
@media screen and (max-width: 768px) {
  .ContactForm_inputContainer__RYPd6 {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
  }
  .ContactForm_floatingLabel__3U7u_ {
    font-size: 14px;
    top: 15px;
  }
  .ContactForm_formControl__pQmc8 {
    height: 35px;
    padding: 25px 10px 20px;
    font-size: 14px;
  }
  .ContactForm_formControl__pQmc8:focus ~ .ContactForm_floatingLabel__3U7u_,
  .ContactForm_formControl__pQmc8:not(:focus):valid
    ~ .ContactForm_floatingLabel__3U7u_,
  .ContactForm_textareaStyle__3qWau:focus ~ .ContactForm_floatingLabel__3U7u_,
  .ContactForm_textareaStyle__3qWau:not(:focus):valid
    ~ .ContactForm_floatingLabel__3U7u_ {
    font-size: 12px;
    top: 2px;
    padding-left: 8px;
    margin-left: 0;
  }
  .ContactForm_floatingLabelGroup__dFm3T {
    margin-bottom: 0.625vw;
  }
  .ContactForm_textareaStyle__3qWau {
    height: 15.041vw;
    font-size: 14px;
    padding: 20px 30px 30px 10px;
  }
  .ContactForm_contact_submit_button__BXr3g {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .ContactForm_formControl__pQmc8 {
    width: 100%;
    padding: 5vw 25px 25px;
    height: 30px;
  }
  .ContactForm_floatingLabelGroup__dFm3T {
    margin-bottom: 20px;
  }
  .ContactForm_floatingLabel__3U7u_ {
    font-size: 16px;
    top: 4vw;
    left: 10px;
  }
  .ContactForm_formControl__pQmc8:focus ~ .ContactForm_floatingLabel__3U7u_,
  .ContactForm_formControl__pQmc8:not(:focus):valid
    ~ .ContactForm_floatingLabel__3U7u_,
  .ContactForm_textareaStyle__3qWau:focus ~ .ContactForm_floatingLabel__3U7u_,
  .ContactForm_textareaStyle__3qWau:not(:focus):valid
    ~ .ContactForm_floatingLabel__3U7u_ {
    top: 3px;
    height: 10px;
    padding-left: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .ContactForm_formControl__pQmc8 {
    padding: 20px 5px 0 10px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
  }
  .ContactForm_textareaStyle__3qWau {
    font-size: 18px;
    height: 180px;
    padding-left: 10px;
  }
  .ContactForm_contact_submit_button__BXr3g {
    font-size: 18px;
    font-weight: 600;
    padding: 16px 0;
  }
}
.ContactPageForm_ContactArea__container__jqBDa {
  display: flex;
  padding: 5%;
  background: linear-gradient(180deg, #fff 50%, #0c2d50 0);
}
.ContactPageForm_ContactArea__leftsidebar__NSdul {
  display: flex;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  flex-direction: column;
  line-height: 120%;
  justify-content: flex-end;
  padding: 0 2% 2.5%;
  /* background-image: url(media/lrcontactleft1.09233d5c.webp); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: -1px;
}
.ContactPageForm_contact_left_sort_desc__wM6LH {
  padding-top: 10px;
  font-size: 16px;
  line-height: 140%;
}
.ContactPageForm_ContactArea_LogoInfoLinks_iconsContainer__tz20y {
  margin-top: 1.3vw;
  display: flex;
  gap: 1.041vw;
}
.ContactPageForm_ContactArea__icon_facebook__YRsHo,
.ContactPageForm_ContactArea__icon_insta__vgkpf,
.ContactPageForm_ContactArea__icon_linkedin__Ooxnj,
.ContactPageForm_ContactArea__icon_twitter__rpeEB,
.ContactPageForm_ContactArea__icon_utube__Sx5Fv {
  background-color: var(--mustard-yellow);
  border-radius: 50%;
  color: #0c0c0c;
  font-size: 1.3vw;
  transition: color 0.2s;
  padding: 10px;
  display: flex;
}
.ContactPageForm_ContactArea__icon_insta__vgkpf:hover {
  background-image: linear-gradient(
    210deg,
    #fbe18a 0.01%,
    #fcbb45 30%,
    #f75274 40%,
    #d53692 50%,
    #8f39ce 70%,
    #5b4fe9
  );
  color: #fff;
  cursor: pointer;
}
.ContactPageForm_ContactArea__icon_linkedin__Ooxnj:hover {
  background: linear-gradient(210deg, #007ab5 0.01%, #0046e5 90%, #fff);
  color: #fff;
  cursor: pointer;
}
.ContactPageForm_ContactArea__icon_facebook__YRsHo:hover {
  background: linear-gradient(
    120deg,
    #4676ed,
    #436de4,
    #3c55cd,
    #302ea8,
    #2b1e99
  );
  color: #fff;
  cursor: pointer;
}
.ContactPageForm_ContactArea__icon_twitter__rpeEB:hover {
  background: var(--black);
  color: #fff;
  cursor: pointer;
}
.ContactPageForm_ContactArea__icon_utube__Sx5Fv:hover {
  background: var(--white);
  color: red;
  cursor: pointer;
}
.ContactPageForm_ContactArea__contactform__m7fcP {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  padding: 5%;
  background-color: var(--white);
}
.ContactPageForm_contactArea__contactform_heading__UxKDv {
  font-size: 34px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.78vw;
  line-height: 100%;
}
.ContactPageForm_contact_heading_touch__mHOo_ {
  font-weight: 700;
  color: var(--dark-blue);
}
.ContactPageForm_heading_timings__xhTqV {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 2.7vw;
}
.ContactPageForm_card_mail_icon__uJkYr {
  color: var(--mustard-yellow);
  font-size: 22px;
}
.ContactPageForm_card_location_icon__xfn9K {
  color: var(--mustard-yellow);
  font-size: 24px;
}
.ContactPageForm_map_container__iSMBd {
  background: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-bottom: 20px;
}
.ContactPageForm_map_img_container__zsSYj {
  max-width: 80%;
}
.ContactPageForm_map_img__oXplU,
.ContactPageForm_map_img_container__zsSYj {
  display: flex;
  width: 80%;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.ContactPageForm_map_img__oXplU {
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.ContactPageForm_contact_sub_heading__c1rgS {
  font-size: 34px;
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: center;
  padding-top: 5%;
}
.ContactPageForm_addcards__xIor1 {
  background: var(--dark-blue);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3% 5%;
  justify-items: center;
  gap: 20px;
  height: auto;
  width: auto;
  border: 5px;
}
.ContactPageForm_card__dWzOf {
  text-align: left;
  width: 100%;
  padding: 30px;
  color: var(--white);
  border-radius: 24px;
  border: 2px solid #53b5bc;
  background: hsla(0, 0%, 62%, 0.3);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
.ContactPageForm_card__dWzOf:hover .ContactPageForm_cardheading__CdLWv h3,
.ContactPageForm_card__dWzOf:hover
  .ContactPageForm_cardinfo__SC1DL
  .ContactPageForm_branchMail__GRzRT,
.ContactPageForm_card__dWzOf:hover
  .ContactPageForm_cardinfo__SC1DL
  .ContactPageForm_branch_address__j_AW_,
.ContactPageForm_card__dWzOf:hover
  .ContactPageForm_cardinfo__SC1DL
  .ContactPageForm_card_location_icon__xfn9K,
.ContactPageForm_card__dWzOf:hover
  .ContactPageForm_cardinfo__SC1DL
  .ContactPageForm_card_mail_icon__uJkYr {
  color: #000;
}
.ContactPageForm_cardheading__CdLWv {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.ContactPageForm_branch_address__j_AW_ {
  font-size: 16px;
  line-height: 150%;
}
.ContactPageForm_cardinfo__SC1DL {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-top: 10px;
  padding-bottom: 5px;
}
.ContactPageForm_branchMail__GRzRT {
  font-size: 16px;
}
.ContactPageForm_card__dWzOf:hover {
  background-color: var(--mustard-yellow);
  color: #000;
  border: 1px solid var(--mustard-yellow);
}
@media screen and (max-width: 1024px) {
  .ContactPageForm_ContactArea__leftsidebar__NSdul {
    width: 45%;
  }
  .ContactPageForm_ContactArea__icon_facebook__YRsHo,
  .ContactPageForm_ContactArea__icon_insta__vgkpf,
  .ContactPageForm_ContactArea__icon_linkedin__Ooxnj,
  .ContactPageForm_ContactArea__icon_twitter__rpeEB,
  .ContactPageForm_ContactArea__icon_utube__Sx5Fv {
    font-size: 1.5vw;
  }
  .ContactPageForm_contactArea__contactform_heading__UxKDv {
    font-size: 28px;
    line-height: 120%;
  }
  .ContactPageForm_addcards__xIor1 {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .ContactPageForm_contact_sub_heading__c1rgS {
    font-size: 28px;
    line-height: 150%;
  }
  .ContactPageForm_card__dWzOf {
    padding: 15px;
    border-radius: 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ContactPageForm_map_img_container__zsSYj {
    margin-bottom: -2px;
  }
}
@media screen and (max-width: 768px) {
  .ContactPageForm_ContactArea__icon_facebook__YRsHo,
  .ContactPageForm_ContactArea__icon_insta__vgkpf,
  .ContactPageForm_ContactArea__icon_linkedin__Ooxnj,
  .ContactPageForm_ContactArea__icon_twitter__rpeEB,
  .ContactPageForm_ContactArea__icon_utube__Sx5Fv {
    max-height: auto;
    padding: 8px;
    font-size: 20px;
  }
  .ContactPageForm_contact_left_sort_desc__wM6LH {
    font-size: 14px;
    line-height: 100%;
  }
  .ContactPageForm_contactArea__contactform_heading__UxKDv,
  .ContactPageForm_contact_sub_heading__c1rgS {
    font-size: 24px;
  }
  .ContactPageForm_heading_timings__xhTqV {
    font-size: 16px;
  }
}
@media screen and (max-width: 578px) {
  .ContactPageForm_ContactArea__container__jqBDa {
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #fff;
  }
  .ContactPageForm_ContactArea__leftsidebar__NSdul {
    display: flex;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 300px;
    padding: 5%;
    /* background-image: url(media/lrContactLeft1Mobbg.8961d87f.webp); */
  }
  .ContactPageForm_contact_left_sort_desc__wM6LH {
    margin-bottom: 5vw;
    line-height: 150%;
  }
  .ContactPageForm_ContactArea__icon_facebook__YRsHo,
  .ContactPageForm_ContactArea__icon_insta__vgkpf,
  .ContactPageForm_ContactArea__icon_linkedin__Ooxnj,
  .ContactPageForm_ContactArea__icon_twitter__rpeEB,
  .ContactPageForm_ContactArea__icon_utube__Sx5Fv {
    max-height: 30px;
    padding: 5px 7px 20px;
    font-size: 20px;
    transition: none;
    margin: auto;
  }
  .ContactPageForm_ContactArea_LogoInfoLinks_iconsContainer__tz20y {
    width: 60%;
    margin-top: 1.3vw;
    display: flex;
    gap: 1.2vw;
  }
  .ContactPageForm_contactArea__contactform_heading__UxKDv {
    font-size: 22px;
    margin-top: 40px;
    line-height: 120%;
  }
  .ContactPageForm_heading_timings__xhTqV {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .ContactPageForm_map_img_container__zsSYj {
    display: flex;
    max-width: 100%;
    width: 100%;
  }
  .ContactPageForm_contact_sub_heading__c1rgS {
    padding: 20px;
    font-size: 22px;
    line-height: 150%;
  }
  .ContactPageForm_addcards__xIor1 {
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
    justify-items: center;
    gap: 30px;
    height: auto;
    border: 5px;
  }
  .ContactPageForm_card__dWzOf {
    padding: 15px;
  }
  .ContactPageForm_cardheading__CdLWv {
    font-size: 18px;
    font-weight: 500;
  }
  .ContactPageForm_branch_address__j_AW_ {
    font-size: 14px;
  }
  .ContactPageForm_card_mail_icon__uJkYr {
    font-size: 20px;
  }
  .ContactPageForm_card_location_icon__xfn9K {
    font-size: 22px;
  }
  .ContactPageForm_branchMail__GRzRT {
    font-size: 14px;
  }
}
.ContactUsHero_Contact_page_Hero__container__CMEMs {
  width: 100%;
  height: 550px;
  padding: 231px 0 300px;
  /* background-image: linear-gradient(
      180deg,
      #000 2.48%,
      rgba(0, 0, 0, 0.7) 30.91%,
      rgba(0, 0, 0, 0.4) 0
    ),
    url(/media/LRTagBackground.21da9606.webp); */
  background-repeat: no-repeat;
  background-size: cover;
}
.ContactUsHero_Contact_page_Hero__headingContainer__7B8uo {
  width: 85%;
  color: #fff;
  margin: auto;
}
.ContactUsHero_Contact_page_Hero__heading__SvB8r {
  text-shadow: 5px 5px 5px #000;
  font-size: 3.33vw;
  margin-bottom: 5px;
}
.ContactUsHero_Contact_page_Hero__subheading___jxeo {
  width: 45%;
  text-shadow: 2px 3px 5px #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}
@media screen and (max-width: 1600px) {
  .ContactUsHero_Contact_page_Hero__container__CMEMs {
    padding: 231px 0 300px;
  }
  .ContactUsHero_Contact_page_Hero__headingContainer__7B8uo {
    width: 75%;
    margin-left: 8%;
  }
  .ContactUsHero_Contact_page_Hero__heading__SvB8r {
    font-size: 44px;
  }
  .ContactUsHero_Contact_page_Hero__subheading___jxeo {
    font-size: 22px;
    width: 50%;
  }
}
@media screen and (max-width: 1080px) {
  .ContactUsHero_Contact_page_Hero__container__CMEMs {
    height: 436px;
    padding: 231px 0 300px;
  }
  .ContactUsHero_Contact_page_Hero__headingContainer__7B8uo {
    width: 85%;
  }
  .ContactUsHero_Contact_page_Hero__subheading___jxeo {
    width: 50%;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .ContactUsHero_Contact_page_Hero__container__CMEMs {
    padding: 180px 0 250px;
  }
  .ContactUsHero_Contact_page_Hero__headingContainer__7B8uo {
    width: 85%;
    margin-left: 4%;
  }
  .ContactUsHero_Contact_page_Hero__heading__SvB8r {
    width: 75;
    font-size: 30px;
  }
  .ContactUsHero_Contact_page_Hero__subheading___jxeo {
    width: 60%;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .ContactUsHero_Contact_page_Hero__container__CMEMs {
    padding: 160px 0 220px;
    height: 274px;
    background-position: top;
  }
  .ContactUsHero_Contact_page_Hero__headingContainer__7B8uo {
    width: 85%;
    margin-left: 4%;
  }
  .ContactUsHero_Contact_page_Hero__heading__SvB8r {
    font-size: 6.25vw;
    text-transform: uppercase;
  }
  .ContactUsHero_Contact_page_Hero__subheading___jxeo {
    width: 80%;
    font-size: 16px;
  }
}
